
.oncheck{
	background: darkseagreen;
	height: 400px;
	text-align: center;

}
.onlist{
	padding: 80px;
}
#list{
	font-size: 20px;	
}

#check_list{
	width: 200px;
	height: 30px;
	border-radius: 10px;
	border: 1px solid black;
	font-size: 18px;
	font-weight: bold;
}
#listBtn{
	width: 100px;
	height: 30px;
	border-radius: 10px;
	border: 1px solid black;
	font-size: 14px;
	font-weight: bold;
}